# PYTHON BASICS

Python basics with basic operaions, data structures like - lists,tuples,dictionaries,sets and itertools,functions,etc

In [2]:
a = 123
c = 3.14
d = "hello"
e = [0,1,2]
f = (0,1,2)

In [3]:
a
c
d
e
f

(0, 1, 2)

In [4]:
a

123

In [5]:
c

3.14

In [6]:
d

'hello'

In [7]:
e

[0, 1, 2]

In [8]:
f

(0, 1, 2)

In [12]:
age=21
if age>21:
    a=+2
    print("The new age is ",age)
elif age <21:
    a-=2
    print("The new age is ",age)
else:
    print("The age is same ",age)

The age is same  21

In [13]:
a=33
b=200
if b>a:
    print("b is greater than a")

b is greater than a

In [14]:
if b>a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

b is greater than a

In [15]:
if b>a:

SyntaxError: unexpected EOF while parsing (<ipython-input-15-c1ff01c33eb9>, line 1)

In [16]:
if b>a:
    print("b is greater than a")
elif a == b:
    print(" a and b are equal")
else:
    print("a is greater than b")

b is greater than a

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [19]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [24]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
    print(x)
    if x=="banana":
        break

apple
banana

In [27]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x =="banana":
        continue
    print(x)

apple
cherry

In [29]:
fruits = ['apple', 'banana', 'cherry']

In [30]:
fruits.append("orange")

In [31]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [32]:
type(fruits)

list

In [33]:
len(fruits)

4

In [34]:
cars = ["Ford", "BMW", "Volvo"]

In [35]:
fruits.append(cars)

In [36]:
fruits

['apple', 'banana', 'cherry', 'orange', ['Ford', 'BMW', 'Volvo']]

In [38]:
fruits.count("banana")

1

In [39]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

In [40]:
points.count(9)

2

In [41]:
x = points.copy()

In [42]:
x

[1, 4, 2, 9, 7, 8, 9, 3, 1]

In [43]:
x.index(9)

3

In [44]:
x.sort()

In [45]:
x

[1, 1, 2, 3, 4, 7, 8, 9, 9]

In [46]:
x.reverse()

In [47]:
x

[9, 9, 8, 7, 4, 3, 2, 1, 1]

In [48]:
x.pop()

1

In [49]:
x

[9, 9, 8, 7, 4, 3, 2, 1]

In [52]:
x.insert(4,0)

In [53]:
x

[1, 2, 3, 4, 0, 0, 7, 8, 9, 9]

In [55]:
x.insert(a,2)

In [56]:
x

[1, 2, 3, 4, 0, 0, 7, 8, 9, 9, 2]

In [57]:
a=12345

In [58]:
x

[1, 2, 3, 4, 0, 0, 7, 8, 9, 9, 2]

In [59]:
x.insert(2,"hello")

In [60]:
x

[1, 2, 'hello', 3, 4, 0, 0, 7, 8, 9, 9, 2]

In [62]:
x.insert(2,a)

In [63]:
x

[1, 2, 12345, 'hello', 3, 4, 0, 0, 7, 8, 9, 9, 2]

In [66]:
a=[1.53,2.456,23.567]

In [70]:
x=a.round(1)

AttributeError: 'list' object has no attribute 'round'

In [1]:
#logcial operations returns boolean
a=5
b=2
print(a==b,a>b,a<b,a!=b,a>=b,a<=b)

False True False True True False

In [3]:
#to take input from user
x = input("Enter a number: \n")
print(f"value entered with operation is {x}")

Enter a number:
5
value entered with operation is 5

TYPE CONVERSION

In [4]:
a=2
b=float(a)
print(a,b)

2 2.0

In [6]:
l = [1,2,3,4,5]
s=set(l)
print(l,s)

[1, 2, 3, 4, 5] {1, 2, 3, 4, 5}

# DATA STRUCTURES IN PYTHON

list

dictionary

tuple

set

In [7]:
#defining a list
l1 = [] #empty list
l2 = ['a',1,'word',True]
l3 = list(s)

In [11]:
print(l1,l2,l3)

[] ['a', 1, 'word', True] [1, 2, 3, 4, 5]

In [12]:
x = [1,2,3]
x.append(4)
print(x)
sum(x)

[1, 2, 3, 4]

10

In [13]:
def add(x):
    return x*2
y = list(map(add,x))
print(y)

[2, 4, 6, 8]

# List operations

In [14]:
#adding elemetns to an empty list
l=[]
#append will add elements to the last of the list
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#concatination
l = l+l
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#slicing
l=l[0:15]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [19]:
l[1:11:2]

[1, 3, 5, 7, 9]

In [20]:
l[::-1]

[4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [21]:
l[:11:3]

[0, 3, 6, 9]

In [22]:
l[:-5:-2]

[4, 2]

In [23]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [24]:
z=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,15]

In [25]:
z[:-5:-2]

[15, 12]

In [29]:
z[:-5:-2]

[15, 12]

In [30]:
z[::-2]

[15, 12, 10, 8, 6, 4, 2, 0]

In [31]:
z[:-1:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [32]:
z[-1::]

[15]

In [33]:
z[-3::]

[12, 13, 15]

In [34]:
z[-5:-2:]

[10, 11, 12]

In [35]:
z[-5:-2]

[10, 11, 12]

In [37]:
#lists are mutable
print(l)
l[1]= 28
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

[0, 28, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

# List comprehensions

List comprehensions are used for creating new lists from other iterables.

As list comprehensions return lists, they consist of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [39]:
#example
numbers = [1,2,3,4,5]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16, 25]

# List Methods

append() - Adds an element at the end of the list

clear() - removes all the elements from the list

copy() - returns a copy of the list

count() - returns the number of elements with the specified value

extend() = add the elements of a list(or any iterbale),to the end of the current list

index() - reutrns the index of the first element with the specified value

insert() - adds an element at the specified position

pop() - removes the element at the specified position

remove() - removes teh items with teh specified value

reverse() - reverse the order of the list

sort() - sorts the list

In [62]:
r = [0,1,2,3,4,5,6,7,8,9]
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
r.append(10)

In [64]:
type(r)

list

In [65]:
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
r.pop()
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
m=r.copy()
m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
n=r.count(5)

In [74]:
type(n)

int

In [75]:
n

1

In [76]:
p = [10,11,12,13,14,15]

In [77]:
r.extend(p)

In [78]:
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [79]:
r.index(10)

10

In [80]:
#first argument is the index,2nd is the value
r.insert(5,'28')

In [93]:
r

[0, 1, 2, 3, 4, '28', 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [99]:
r.reverse()

In [100]:
print(r)

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, '28', 4, 3, 2, 1, 0]

In [105]:
r.reverse()

In [112]:
r

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, '28', 4, 3, 2, 1, 0]

In [113]:
f=[1,3,5,9,2,5,7,9,3,6]

In [114]:
f.sort()

In [115]:
f

[1, 2, 3, 3, 5, 5, 6, 7, 9, 9]

# Tuples

In [116]:
#access tuple items
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

# Tuple Operations

Note that, tuples are immutable,i.e., once created, its elements cannot be changed

In [117]:
thistuple[2] = "orange"

TypeError: 'tuple' object does not support item assignment

# Tuple Methods

count() - returns the number of times a specified value occurs in a tuple

index() - searches the tuple for a specified value and returns the position of where it was found

In [119]:
thistuple.count("apple")

1

In [120]:
thistuple.index("cherry")

2

# Set Methods

add() Adds an element to the set

clear() Removes all the elements from the set

copy() Returns a copy of the set

difference() Returns a set containing the difference between two or more sets

difference_update() Removes the items in this set that are also included in another, specified set

discard() Remove the specified item

intersection() Returns a set, that is the intersection of two other sets

intersection_update() Removes the items in this set that are not present in other, specified set(s)

isdisjoint() Returns whether two sets have a intersection or not

issubset() Returns whether another set contains this set or not

issuperset() Returns whether this set contains another set or not

pop() Removes an element from the set

remove() Removes the specified element

symmetric_difference() Returns a set with the symmetric differences of two sets

symmetric_difference_update() inserts the symmetric differences from this set and another

union() Return a set containing the union of sets

update() Update the set with the union of this set and others

# Set Operations

In [138]:
#example
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

banana
apple
cherry

In [139]:
#access items,cannot access items by referring to an index 
thisset[1]

TypeError: 'set' object is not subscriptable

Sets are immutable. Once created, we cannot change its contents.

In [140]:
#adding items
thisset.add("orange") #this method can add one item at a time
thisset.update(["Orange","mango","grapes"])  #this method can add more than one item at a time

In [141]:
thisset

{'Orange', 'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [142]:
#removing items
thisset.remove("banana")

In [143]:
thisset

{'Orange', 'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [144]:
#removing items with discard
thisset.discard("cherry")

In [145]:
thisset

{'Orange', 'apple', 'grapes', 'mango', 'orange'}

In [146]:
#removing with pop
#pop will only remove the last added element
thisset.pop()

'grapes'

In [147]:
thisset

{'Orange', 'apple', 'mango', 'orange'}

In [148]:
#clearing the whole set with clear
thisset.clear()

In [149]:
thisset

set()

In [150]:
# deleting the set
del thisset

In [151]:
#joining two sets
set1 = {"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 'b', 2, 'a', 3, 'c'}

In [152]:
set3

{1, 2, 3, 'a', 'b', 'c'}

# Dictionary

In [154]:
#defining a dictionary
employee = {"e-id":123,
            "e-name":"Tony",
            "dob":'01-01-1975'
            }
print(employee)

{'e-id': 123, 'e-name': 'Tony', 'dob': '01-01-1975'}

# Dictionary Methods

clear()- Removes all the elements from the dictionary

copy()- Returns a copy of the dictionary

fromkeys()- Returns a dictionary with the specified keys and value

get()- Returns the value of the specified key

items()- Returns a list containing a tuple for each key value pair

keys()- Returns a list containing the dictionary's keys

pop()- Removes the element with the specified key

popitem()- Removes the last inserted key-value pair

setdefault()- Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()- Updates the dictionary with the specified key-value pairs

values()- Returns a list of all the values in the dictionary

# Dictionary Operations

In [163]:
thisdicts = {"brand":"ford",
            "model": "Mustang",
             "year": 1964
            }
#accessing items
x=thisdicts["model"]
#or other method to access is
y=thisdicts.get("brand")

In [164]:
print(x,y)

Mustang ford

In [165]:
#changing the values
thisdicts["year"] = 1975

In [166]:
thisdicts

{'brand': 'ford', 'model': 'Mustang', 'year': 1975}

In [168]:
#looping through dictionary
for x in thisdicts:
    print(x)
    
print("\n")

#others methods to loop in dictionaries
for x in thisdicts.values():
    print(x)
    
print("\n")

#looping with key-value pair by destructiong dictionary
for key, value in thisdicts.items():
    print(key,value)

brand
model
year


ford
Mustang
1975


brand ford
model Mustang
year 1975

In [169]:
#check if a key exist
if "model" in thisdicts:
    print("Yes, 'model' is one of the keys in the thisdicts dictionary")

Yes, 'model' is one of the keys in the thisdicts dictionary

In [171]:
#adding items to dictionary
thisdicts["color"] = "red"

In [172]:
thisdicts

{'brand': 'ford', 'model': 'Mustang', 'year': 1975, 'color': 'red'}

In [177]:
# not adding any value will just keep the value empty
thisdicts["owner"]

''

In [178]:
thisdicts

{'brand': 'ford',
 'model': 'Mustang',
 'year': 1975,
 'color': 'red',
 'owner': ''}

In [179]:
#removingitems
thisdicts.pop("model")

'Mustang'

In [180]:
thisdicts

{'brand': 'ford', 'year': 1975, 'color': 'red', 'owner': ''}

In [181]:
#removes the last inserted item
thisdicts.popitem()

('owner', '')

In [182]:
thisdicts

{'brand': 'ford', 'year': 1975, 'color': 'red'}

In [183]:
#clearing the dictionary with clear
thisdicts.clear()

In [184]:
thisdicts

{}

In [185]:
#deleting the dictionary completely
del thisdicts

In [187]:
#checking if the dictionary exists or not
thisdicts

NameError: name 'thisdicts' is not defined

# Strings

In [190]:
word = "Hey-there-this-is-a-string"

print(word)

#splits the string from the passed perimeter
print(word.split("-"))

#replaces the passed string with new string
#1st parameter is (to be replaced) and 2nd is (new value)
print(word.replace("Hey","Hello"))

#it reverses or prints the string in reverse by slicing
print(word[::-1])

#checks if the string is all numeric
print(word.isalnum())

Hey-there-this-is-a-string
['Hey', 'there', 'this', 'is', 'a', 'string']
Hello-there-this-is-a-string
gnirts-a-si-siht-ereht-yeH
False

In [191]:
word

'Hey-there-this-is-a-string'

# Itertools

In [192]:
import itertools

#for in loop
#it takes the parameters and multiplies it and checks the parameters for further cases
for i in itertools.count(5,5):
    if i==35:
        break
    else:
        print(i, end=" ")

5 10 15 20 25 30

In [197]:
count = 0
for i in itertools.cycle('ABCD'):
    if count > 7:
        break
    else:
        print(i, end=" ")
        count += 1

A B C D A B C D

In [198]:
l = ['learing', 'python', 'itertools']
# defining iterator
iterators = itertools.cycle(l)
#for in loop
for i in range(6):
    #using next funciton
    print(next(iterators),end =" ")

learing python itertools learing python itertools

# Negative Indexing

used with lists,tuple,etc

In [199]:
#negative indexing with lists
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [200]:
#negative indexing with tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Conditional Statements

# if-else

In [201]:
a = 33
b = 200                    #be mindful of indent
if b > a:
  print("b is greater than a")

b is greater than a

In [202]:
#elif keyword
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [203]:
#else keyword
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [204]:
#short hand if-else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [205]:
# 'and' 'or' keywords
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

if a > b or a > c:
  print("At least one of the conditions is True")

Both conditions are True
At least one of the conditions is True

# Iterations and looping

In [206]:
#for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
#for loop does not require indexing

apple
banana
cherry

In [207]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [208]:
#using functions with for loop:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [209]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [210]:
#continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# Membership and identity operators

Membership operators are operators used to validate the membership of a value. It tests for membership in a sequence, such as strings, lists, or tuples.

In [213]:
#'in' operator
list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")

In [214]:
#'in' operator
list1=[1,2,3,4,5] 
list2=[5,6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")

overlapping

In [215]:
#'not in' operator
y = 20
list = [10, 20, 30, 40, 50 ]; 
  
if ( x not in list ): 
   print("x is NOT present in given list")

x is NOT present in given list

In [217]:
#'not in' operator
y = 20
list = [10, 20, 30, 40, 50 ]; 
  
if ( y not in list ): 
   print("x is NOT present in given list")
else:
    print("y is present in given list")

y is present in given list

Identity operator are used to determine whether a value is of a certain class or type. They are usually used to determine the type of data a certain variable contains.

In [218]:
#'is' operator
x = 5
if (type(x) is int): 
    print("true") 
else: 
    print("false")

true

In [219]:
#'is not' operator
x = 5.2
if (type(x) is not int): 
    print("true") 
else: 
    print("false")

true

# Functions

In [220]:
#defining a function
def my_function():
  print("Hello from a function")

In [222]:
#calling
my_function()

Hello from a function

In [223]:
def add(a,b):
    c=a+b
    print(c)

#calling the funciton
add(2,3)

5

In [224]:
def add(a,b):
    c=a+b
    return c

#calling the funciton
x=add(2,3)

print(x)

5

In [225]:
#passing arguments
def my_function(fname):
  print(fname + " Refsnes")   #always call function with the require number of args;not less,not more

In [228]:
my_function("Calling")

Calling Refsnes

In [236]:
#arbitrary arguments: if number of arguments is unknown, add a * before the arg
def my_function(*kids):
    print("All the kids are " + kids[0] + " " + kids[1] + " " + kids[2] + " " + kids[3])
    print("The youngest child is " + kids[2])

#calling the function
my_function("ram","ramesh","rakesh","raj")

All the kids are ram ramesh rakesh raj
The youngest child is rakesh

In [239]:
#keyword arguments:You can also send arguments with the key = value syntax.This way the order of the arguments does not matter.
def my_function(child3, child2, child1):
    print("All the children are " + child1,child2,child3)
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

All the children are Emil Tobias Linus
The youngest child is Linus

In [240]:
#arbitrary keyword arguments, **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [242]:
#default parameters
#default params is automatically called if the user doesnt passes any
#argument when calling the function
def my_function(country = "Norway"):
  print("I am from " + country)

#calling without argument
my_function()

#calling with argument
my_function(" India")

I am from Norway
I am from  India

In [244]:
#return values
def my_function(x):
  return 5 * x

my_function(5)

25

# Lambda Functions

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [250]:
#example
x = lambda a, b, c : a * b * c
print(x(5, 6, 7))

210